@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  background-color: hsl(0, 0%, 87%);
  font-family: "Montserrat", sans-serif;
  color: hsl(82, 39%, 30%);
}

#statuscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  background-color: hsl(0, 0%, 94%);
  padding: 20px 35px;
  margin: 25px;
  border-radius: 10px;
}

button {
  border: none;
  padding: 20px 35px;
  margin: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(82, 39%, 30%);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: hsl(82, 39%, 25%);
}

#buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gridcontainer {
  padding: 50px;
}

#grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 10px;
  background-color: hsl(0, 0%, 94%);
  margin-left: auto;
  margin-right: auto;
  max-width: 470px;
  border-radius: 20px;
}

.neumorphic {
  box-shadow: 17px 17px 34px hsl(0, 0%, 80%), -17px -17px 34px hsl(0, 0%, 100%);
}

.box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  font-size: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform, font-size, background-color 100ms;
}

.box:hover {
  transform: scale(1.05);
  background-color: hsl(0, 0%, 95%);
  transition: 150ms ease-out;
  font-size: 147px;
  color: hsl(82, 39%, 25%);
}

@media (max-width: 700px) {
  #grid {
    padding: 8px;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    grid-gap: 8px;
    max-width: 376px;
    border-radius: 8px;
  }

  .box {
    font-size: 120px;
    border-radius: 8px;
  }

  .box:hover {
    font-size: 124px;
  }
}

@media (max-width: 500px) {
  #grid {
    padding: 14px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 7px;
    max-width: 314px;
    border-radius: 14px;
  }

  .box {
    font-size: 100px;
    border-radius: 7px;
  }

  .box:hover {
    font-size: 102px;
  }

  h2 {
    font-size: 18px;
  }

  #gridcontainer {
    padding: 10px;
  }
}
